<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="rice">
<label>id</label>
<input type="text" name="id">
<br>
<label>Area</label>
<input type="text" name="Area">
<br>
<label>MajorAxisLength</label>
<input type="text" name="MajorAxisLength">
<br>
<label>MinorAxisLength</label>
<input type="text" name="MinorAxisLength">
<br>
<label>Eccentricity</label>
<input type="text" name="Eccentricity">
<br>
<label>ConvexArea</label>
<input type="text" name="ConvexArea">
<br>
<label>EquivDiameter</label>
<input type="text" name="EquivDiameter">
<br>
<label>Extent</label>
<input type="text" name="Extent">
<br>
<label>Perimeter</label>
<input type="text" name="Perimeter">
<br>
<label>Roundness</label>
<input type="text" name="Roundness">
<br>
<label>AspectRation</label>
<input type="text" name="AspectRation">
<br>
<input type="submit">



    </form>
</body>
</html>